body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

h1, h2, h3 {
  color: #333;
  text-align: center;
  width: 100%;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
}

button:disabled {
  background-color: #000000;
}

#population, #new-generation-cross-over, #new-generation-mutacao, #selected {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.monkey {
  padding: 10px;
  margin: 5px;
  background-color: #ffeb3b;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.roleta-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px 0;
}

canvas {
  border: none;
}

.pointer {
  position: absolute;
  top: 0%;
  left: 50%;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 20px solid red;
  transform: translate(-50%, -100%);
}

#selected, .offspring-generation, .mutation-generation {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.offspring, .mutation {
  padding: 10px;
  margin: 5px;
  background-color: #90caf9;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.monkey-card {
  border: 1px solid #ddd;
  padding: 10px;
  margin: 10px;
  text-align: center;
  width: 150px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.monkey-card img {
  width: 80px;
  height: 80px;
  margin-bottom: 10px;
}

/* Deixar as cores da roleta com tamanhos iguais */
.roleta-sector {
  flex: 1;
}

#spinBtn {
  margin-top: 20px;
}

/* Adicionando estilos para centralizar os botões */
#selecao-section, #cross-over-section, #mutacao-section {
  display: none;
  width: 100%;
  text-align: center;
}

/* Garantir que os contêineres dos botões estejam centralizados */
#new-generation-cross-over, #new-generation-mutacao {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

/* Estilo para o título da Nova Geração de Cross-Over */
#new-generation-cross-over .offspring-generation h3 {
    width: 100%;
    text-align: center;
    margin-top: 30px;
    color: #333;
}
